<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <div class="login-container">
    <div class="login-box">
      <div class="logo-section">
        <img src="logo_fet.png" alt="Logo fet" class="logo-img-form">
        <h1>Registro</h1>
      </div>

      <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre completo</mat-label>
          <input matInput id="nombre" [(ngModel)]="nuevoUsuario.nombre" placeholder="Tu nombre completo" type="text">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo</mat-label>
          <input matInput id="correo" [(ngModel)]="nuevoUsuario.correo" placeholder="ejemplo@mabsbygabs.com" type="email">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput id="telefono" [(ngModel)]="nuevoUsuario.telefono" placeholder="Número de teléfono" type="text">
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput id="password" [(ngModel)]="nuevoUsuario.password" placeholder="••••••••" type="password">
        </mat-form-field>
      </div>

      <button class="btn-login" (click)="registrar()">Registrar</button>

      <div class="register">
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
      </div>
    </div>
  </div>
</body>
